<?xml version="1.0" encoding="UTF-8"?>


<config>
    <modules>
        <SocialLogon>
            <version>0.3.8</version>
        </SocialLogon>
    </modules>
    <default>
        <customer>
            <SocialLogon_google>
                <enabled>0</enabled>
            </SocialLogon_google>
            <SocialLogon_facebook>
                <enabled>0</enabled>
            </SocialLogon_facebook>
            <SocialLogon_twitter>
                <enabled>0</enabled>
            </SocialLogon_twitter>
            <SocialLogon_linkedin>
                <enabled>0</enabled>
            </SocialLogon_linkedin>
        </customer>
    </default>
    <frontend>
        <translate>
            <modules>
                <SocialLogon>
                     <files>
                        <default>SocialLogon.csv</default>
                     </files>
                </SocialLogon>
            </modules>
        </translate>
        <layout>
            <updates>
                <SocialLogon>
                    <file>SocialLogon.xml</file>
                </SocialLogon>
            </updates>
        </layout>
        <routers>
            <SocialLogon>
                <use>standard</use>
                <args>
                    <module>SocialLogon</module>
                    <frontName>socialconnect</frontName>
                </args>
            </SocialLogon>
        </routers>
    </frontend>
    <global>
        <models>
            <SocialLogon>
                <class>SocialLogon_Model</class>
            </SocialLogon>
        </models>
        <blocks>
            <SocialLogon>
                <class>SocialLogon_Block</class>
            </SocialLogon>
        </blocks>
        <helpers>
            <SocialLogon>
                <class>SocialLogon_Helper</class>
            </SocialLogon>
        </helpers>
        <resources>
            <SocialLogon_setup>
                <setup>
                    <module>SocialLogon</module>
                    <class>SocialLogon_Model_Resource_Setup</class>
                </setup>
            </SocialLogon_setup>
        </resources>
    </global>
</config>
