
div.SocialLogon-register,
div.SocialLogon-checkout,
div.SocialLogon-login {
    margin-top: 28px;
}

div.SocialLogon-login .content {
    min-height: 100px;
}

div.SocialLogon-register .fieldset {
    margin: 0px;
}

div.SocialLogon-account .col3-set .col-1 {
    width: 29%
}

div.SocialLogon-account .col3-set .col-2 {
    width: 49%
}

div.SocialLogon-account .col3-set .col-3 {
    width: 19%
}

div.SocialLogon-account .col2-set .col-1 {
    width: 79%
}

div.SocialLogon-account .col2-set .col-2 {
    width: 19%
}
